@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
p,h1,h2,h3,h4,h5,h6,ul,ol{
    margin: 0;
    padding: 0;
}
.common_button a{
    background-color: #FF9600;
    padding: 20px 50px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    border-radius: 10px;
}
/* =============================
      Common Css End
============================== */
/* ==========================
     Menu Part Start
========================== */
.main_menu{
    padding: 25px 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.main_menu ul li a{
    font-size: 18px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #F6F0F0 !important;
    transition: all linear .3s;
}
.main_menu ul li a:hover{
    color: #FF9600 !important;
}
/* ==========================
     Menu Part End
========================== */
/* ==========================
     banner Part Start
     ========================== */
#banner{
    padding: 240px 0 322px;
    position: relative;
}
.banner_text h1{
    width: 819px;
    font-size: 72px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}
.banner_button{
    display: flex;
    gap: 57px;
    justify-content: center;
    margin-top: 48px;
}
.banner_shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* ==========================
     banner Part End
========================== */
/* ==========================
    Adventure Part Start
========================== */
#adventure{
    padding: 100px 0;
}
.adventure_text h3{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Yellowtail', cursive;
    color: #49C4F5;
}
.adventure_text h2{
    font-size: 54px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #222;
    padding-bottom: 30px;
    margin-bottom: 39px;
    position: relative;
}
.adventure_text h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83px;
    height: 1px;
    background-color: #000000;
}
.adventure_text p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000000;
}
.adventure_text ul{
    margin: 33px 0 44px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.adventure_text ul li{
    display: flex;
    gap: 12px;
}
.adventure_text ul li span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #C4C4C4;
    color: #059f05;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adventure_img{
    display: flex;
    gap: 51px;
    align-items: center;
}
/* ==========================
Adventure Part End
========================== */
/* ==========================
Counter Part Start
========================== */
#counter{
    padding-bottom: 100px;
}
.counter_item{
    padding-bottom: 23px;
    background-color: #FFF4E5;
    text-align: center;
}
.counter_item h2{
    font-size: 80px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000000;
}
/* =================
counter part end
============== */
/* ======================
     ectivities part start
======================== */
#activities{
    padding: 110px 0;
    background-color: #0C3543;
    position: relative;
}
.activities_heading{
    margin-bottom: 74px;
}
.activities_heading h3{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Yellowtail', cursive;
    color: #FF960B;
}
.activities_heading h2{
    font-size: 54px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    padding-bottom: 30px;
    margin-bottom: 39px;
    position: relative;
}
.activities_heading h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83px;
    height: 1px;
    background-color: #FFFFFF;
}
.activities_heading p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
}
.avtivities_detail{
    display: flex;
    align-items: center;
}
.activities_item{
    background-color: #0F4152;
    text-align: center;
    padding-bottom: 45px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 50px;
}
.activities_item h3{
    color: #FF9600;
    padding: 36px 0 15px;
}
.activities_item p{
    color: #fff;
}
.activities_bottom h2{
    font-size: 160px;
    font-weight: 400;
    font-family: 'Arizonia', cursive;
    color: #fff;
    text-align: center;
    margin-top: 67px;
}
.activities_spape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* ==========================
     Activities Part End
========================== */
/* ==========================
     Extreme Part Start
========================== */
#extreme{
    padding-top: 30px;
    background: #FF9600;
}
.extreme_logo{
    width: fit-content;
    margin: auto;
}
.extreme_detail h2{
    font-size: 54px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    text-align: center;
    margin: 28px 0 50px;
}
.extreme_detail h3{
    font-size: 30px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    text-align: center;
}
.extreme_button{
    display: flex;
    gap: 28px;
    justify-content: center;
    margin: 56px 0 96px;
}
.extreme_button a{
    background-color: #0C3543;
    padding: 20px 50px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    border-radius: 10px;
}
.extreme_body{
    display: flex;
    gap: 74px;
    position: relative;
    bottom: -50px;
}
.extreme_items{
    width: 33%;
    padding: 218px 0 23px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.extreme_items h3{
    font-size: 40px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
}
.extreme_items h4{
    font-size: 28px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    padding: 27px 0 38px;
    border-bottom: 2px solid #C4C4C4;
}
.extreme_items p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #A0A0A0;
    margin-top: 28px;
}
.items_detail{
    width: fit-content;
    margin: auto;
}
/* ==========================
     Extreme Part End
========================== */
/* ==========================
     feature Part Start
========================== */
#feature{
    padding: 190px 0 230px;
}
.feature_head h3{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Yellowtail', cursive;
    color: #49C4F5;
    text-align: center;
}
.feature_head h2{
    font-size: 30px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000;
    text-align: center;
    padding: 29px 0 29px;
}
.feature_head{
    position: relative;
}
.feature_head::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: #A0A0A0;
}
.feature_items{
    text-align: center;
    margin-top: 50px;
}
.feature_items h3{
    margin: 60px 0 30px;
}
/* ==========================
     feature Part End
========================== */
/* ==========================
     news Part Start
========================== */
#news{
    padding-bottom: 265px;
}
.news_heading{
    margin-bottom: 96px;
}
.news_heading h3{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Yellowtail', cursive;
    color: #FF960B;
}
.news_heading h2{
    width: 407px;
    font-size: 54px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000000;
    padding-bottom: 30px;
    margin-bottom: 39px;
    position: relative;
}
.news_heading h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83px;
    height: 1px;
    background-color: #A0A0A0;
}
.news_heading p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000000;
}
.news_items{
    text-align: center;
}
.news_img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
}
.news_items h2{
    margin: 38px 0 32px;
}
.news_items p{
    width: 312px;
    margin: 0 auto 42px;
}
.news_items a{
    display: block;
    color: #FF9600;
    padding-top: 44px;
    border-top: 2px solid #000;
}
/* ==========================
     news Part End
========================== */
/* ==========================
     footer Part Start
========================== */
#footer{
    padding: 80px 0 120px;
    background-image: url(../images/footer-image.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-size: 55%;
    background-color: #0F4152;
    margin-top: 42px;
}
.footer_detail{
    padding: 80px 0 52px;
    display: flex;
    gap: 33px;
    border-bottom: 2px solid #fff;
}
.footer_btn{
    width: 25%;
}
.footer_btn a{
    padding: 10px 28px;
    color: #fff;
    background: #FF9600;
    text-align: center;
}
.footer_detail p{
    width: 75%;
    color: #F6F0F0;
}
.footer_contact{
    display: flex;
    gap: 30px;
    margin: 70px 0 62px;
}
.footer_contact h2{
    color: #fff;
}
.footer_contact ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer_contact ul li p{
    color: #fff;
}
.copyright p{
    color: #fff;
}
/* ==========================
     footer Part End
========================== */












/*  */